body {
	margin: 0;
	padding: 0;
}

#wrapper {
	display: block;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	background-color: black;
	text-align: center;
	width: 950px;
	height: 1425px;
}
.cmain_logo {
	width: 950px;
	height: 140px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
}
.main_logo {
	display: flex;
	justify-content: left;
	width: 175px;
    height: 170px;
}
.logo_cent{
	display: block;
	width: 175px;
    height: 290px;
}
figcaption {
	margin: 0;
    font-variant: small-caps;
    font-family: Arial;
    font-weight: bold;
    font-size: 10pt;
	color: darkgray;
    text-align: center;
    width: 175px;
    height: 175px;
	float: center;
}
img:hover {
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
img {
    transition: transform 0.2s;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    -o-transition: -o-transform 0.2s;
    width: 175px;
    height: 200px;
    justify-content: left;
}
.fixasize{
	display: inline;
	justify-content: center;
	margin: 0;
	width: 950px;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}
.nav {
    display: inline-block;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	background-color: rgb(26, 26, 26);
	list-style: none;
	text-align: center;
	width: 950px;
	height: 50px;
	padding-left: 40px;
}
.nav>li {
    float: left;
    text-align: center;
    padding-top: 10px;
}
.nav>li a {
	padding-left: 30px;
	padding-right:30px ;
    font-weight: bold;
    font-family: "Lucida Handwriting";
    display: flex;
    text-align: center;
	text-decoration: none;
	color: lightgray;
	font-size: 20px;
}
.nav>li>a:hover {
	color: red;
}
h1 {
	display: flex;
	height: 150px;
	width: 720px;
	margin-top: 45px;
	justify-self: center;
	color: white;
	font-size: 100px;
	text-align: center;
	font-weight: bold;
	font-family: "Lucida Handwriting";
}
h2 {
	display: inline;
	width: 950px;
	margin-top: 0px;
	margin-bottom: 50px;
	color: white;
	font-size: 50px;
	text-align: center;
	font-family: "Lucida Handwriting";
	position: relative;
}
h3 {
	color: lightgray;
	font-size: 30px;
	text-align: center;
	font-family: "sans-serif";
	position: relative;
	margin: 0%;
}

h4 {
	color: darkgray;
	font-size: 42px;
	text-align: center;
	font-family: "Lucida Handwriting";
	position: relative;
	margin: 0%;
}
h5 {
	position: relative;
	color: darkgray;
	font-size: 42px;
	text-align: left;
	font-family: "sans-serif";
	position: relative;
}
.main_text{
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	height: 500px;
}
.boxed {
	margin: 0;
	background-color: rgb(26, 26, 26);
	width: 945px;
	height: 215px;
    text-align: center;
	color: darkgray;
}
.boxed_hfix{
	width: 950px;
	height: 200px;
	margin-left: 50px;
	padding-top: 10px;
}
a:link {
	color: lightgray;
	background-color: transparent;
	text-decoration: none;
}
a:visited{
    color: lightgray;
	background-color: transparent;
	text-decoration: none;
}
a:hover{
    color: #8b0000;
	background-color: transparent;
	text-decoration: none;
}
.tab button {
	font: "cufon";
	border: 0;
	outline: 0;
	color: darkgray;
	cursor: pointer;
	transition: all 0.15s ease-out;
	position: relative;
	background-color: transparent;
	overflow: hidden;
}
.tab button.active {
	color: darkgray;
	position: relative;
}
.tab button:hover {
	color: #ffffff;
}
.tabcontent {
	display: none;
}

.item1 {
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: black;
	border: 1px solid gray;
	padding: 5px;
	font-size: 30px;
	text-align: center;
}
.item2 {
	position: absolute;
	left: 150px;
	top: 0px;
	background-color: black;
	border: 1px solid gray;
	padding: 5px;
	font-size: 30px;
	text-align: center;
}
.item3 {
	position: absolute;
	left: 0px;
	top: 100px;
	background-color: black;
	border: 1px solid gray;
	padding: 5px;
	font-size: 30px;
	text-align: center;
}
.item4 {
	position: absolute;
	left: 150px;
	top: 100px;
	background-color: black;
	border: 1px solid gray;
	padding: 5px;
	font-size: 30px;
	text-align: center;
}
/*Footer settings*/
.footer-basic{
	margin-left: auto;
	margin-right: auto;
	width: 950px;
}
.footer-basic ul {
	padding: 0;
	list-style: none;
	text-align: center;
	font-size: 18px;
	line-height: 1.6;
	color: white;
    margin:auto;
}
.footer-basic li {
	padding: 0 10px;
}
.footer-basic ul a {
	color: inherit;
	text-decoration: none;
	opacity: 0.8;
    width:400px;
    margin:auto;
}
.footer-basic ul a:hover {
	opacity: 1;
}

.footer-basic .social {
	text-align: center;
	padding-bottom: 25px;
    width:400px;
    margin:auto;
}
.footer-basic .social>a {
	font-size: 24px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	border: 1px solid rgb(255, 255, 255);
	margin: 0 4px;
	color: white;
	opacity: 0.75;
}
.footer-basic .social>a:hover {
	opacity: 2.0;
}
.footer-basic .copyright {
	margin-top: 15px;
	text-align: center;
	font-size: 13px;
	color: #aaa;
}
.introF{
	height: 100%;
	display: flex;
	margin: 0;
	justify-content: center;
}
.intro{
	margin: 0;
	display: flex;
	width: 110%;
    height: 65%;
	background-color: black;
	transform: translatey(-100%);
}
.introtext {
	width: 100%;
	height: 800px;
	padding-top: 125px;
	font-style: bold;
	color: white;
	font-size:100pt;
	font-family: "Lucida Handwriting";
	text-align: center;
}
.hide{
	margin: 0;
	background-color: black;
	overflow: hidden;
}
.subtext{
	margin: 0;
	font-size: 50pt;
}
.hide span{
	display: inline-block;
	transform: translatey(110%);
}
.slider{
	width: 100%;
	height: 100%;
	margin: auto;
	position: fixed;
	top: 0%;
	left: 0%;
	background-color: rgb(26, 26, 26);
	transform: translateY(100%);
}