body {
    margin: 0;
    padding: 0;
}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:1180px;
}

#logo { 
    float: left;
    height: 150px;
    width: 150px;
    position: relative;
    top: 20pt;
}

.caption{
    color: darkgray;
    display: inline-block;
    text-align: center;
    width: 145px;
    font-size: 16px;
    position: relative;
    top: 175px;
    right: 145px;
}

.nav {
    background-color: rgb(26, 26, 26);
    display: inline-block;
    list-style: none;
    text-align: left;
    width: 550px;
    height: 30px;
    position: relative;
    bottom: 125px;
    left: 145px;
    padding: 0px -1px 0px 0px;  
}

.nav > li {
    display:Inline-block;
    padding: 0px 0px 0px 0px;              
    position: relative;             
}

.nav > li a {                                               
    text-decoration: none;
    color: lightgray;
    font-size: 20px;
    padding: 0px 35px 0px 0px;
}
  
.nav > li > a:hover {
    color: red;
}

.boxed1 {
    background-color: rgb(26, 26, 26);
    width: 520px;
    height: 45px;
    color: darkgray;
    position: relative;
    top: 10px;
    left: 770px;
}

h1 {
    color: lightgray;
    font-size: 100px;
    text-align: center;
    font-family:"Lucida Handwriting";
    position: relative;
    bottom: 200px;
}

h2 {
    color: lightgray;
    font-size: 50px;
    text-align: center;
    font-family:"Lucida Handwriting";
    position: relative;
    bottom: 300px;
}

h3 {
    color: darkgray;;
    font-size: 30px;
    text-align: left;
    font-family:"Lucida Handwriting";
    position: relative;
    bottom: 310px;
    left: 230px;
}

h4 {
    color: darkgray;;
    font-size: 42px;
    text-align: left;
    font-family:"Lucida Handwriting";
    position: relative;
    top: 5px;
    left: 5px;
}
h5  {
    color: darkgray;;
    font-size: 42px;
    text-align: left;
    font-family:"serif";
    position: relative;
}

.boxed {
    background-color: rgb(26, 26, 26);
    width: 1000px;
    height: 220px;
    color: darkgray;
    position: relative;
    bottom: 320px;
    left: 50pt;
}

p1 {
    color: darkgray;;
    font-size: 32px;
    text-align: center;
    font-family:"serif";
    position: relative;
    left: 5px;
    bottom: 40pt;
}

a:link {
    color: lightgray;
    background-color: transparent;
    text-decoration: none;
  }

.tab button {
    font: "cufon";
    border: 0;
    outline: 0;
    color: darkgray;
    cursor: pointer;
    transition: all 0.15s ease-out;
    position: relative;
    background-color: transparent;
    overflow: hidden;
  }
.tab button.active {
    color: darkgray;
    position: relative;
    }

.tab button:hover {
		color: #ffffff;
}	
.tabcontent {
    display: none;
  }

.item1 {
    position:absolute; left:0px; top:0px;
    background-color: black;
    border: 1px solid gray;
    padding: 5px;
    font-size: 30px;
    text-align: center;
    }

.item2 {
    position:absolute; left:150px; top:0px;
    background-color: black;
    border: 1px solid gray;
    padding: 5px;
    font-size: 30px;
    text-align: center;
    }

.item3 {
    position:absolute; left:0px; top:100px;
    background-color: black;
    border: 1px solid gray;
    padding: 5px;
    font-size: 30px;
    text-align: center;
    }

.item4 {
    position:absolute; left:150px; top:100px;
    background-color: black;
    border: 1px solid gray;
    padding: 5px;
    font-size: 30px;
    text-align: center;
}
