body {
	margin: 0;
	padding: 0;
 	background-color: black;
}
#wrapper {
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    background-color: black;
    text-align: center;
    width: 950px;
    height: 1200px;
	overflow: hidden;
}
#appointment {
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    background-color: black;
    text-align: center;
    width: 950px;
    height: 1200px;
}
.nav {
	display: flex;
	justify-content: center;
	  background-color: rgb(26, 26, 26);
	  list-style: none;
	  text-align: center;
	  width: 950px;
	  height: 60px;
	margin-top: 20px;
  }
  .nav>li {
	  float: left;
	  text-align: center;
	  padding-bottom: 10px;
  }
  .nav>li a {
	padding-left: 30px;
	padding-right:30px ;
	font-family: "Norican";
	display: flex;
	text-align: center;
	text-decoration: none;
	color: lightgray;
	font-size: 35px;
  }
  .nav>li>a:hover {
	  color: red;
  }
.cmain_logo {
	width: 950px;
	height: 10px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}
.main_logo {
	display: flex;
	justify-content: left;
	width: 175px;
    height: 170px;
}
.logo_cent{
	display: block;
	width: 175px;
    height: 290px;
}
figcaption {
	margin: 0;
    font-variant: small-caps;
    font-family: Arial;
    font-size: 10pt;
	color: darkgray;
    text-align: center;
    width: 175px;
    height: 175px;
	float: center;
}
img:hover {
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
img {
    transition: transform 0.2s;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    -o-transition: -o-transform 0.2s;
    width: 175px;
    height: 200px;
    justify-content: left;
}
h1 {
	color: lightgray;
	font-size: 105px;
	text-align: center;
	font-family: 'Martel', serif;
}
h2 {
	display: inline;
	color: lightgray;
	font-size: 50px;
	text-align: center;
	font-family: "Norican";
	position: relative;
}
h3 {
	color: lightgray;
	font-size: 30px;
	text-align: center;
	font-family: "sans-serif";
	position: relative;
	margin: 0%;
}

h4 {
	color: darkgray;
	font-size: 42px;
	text-align: center;
	font-family: "Norican";
	position: relative;
	margin: 0%;
}
h5 {
	position: relative;
	color: darkgray;
	font-size: 42px;
	text-align: left;
	font-family: "sans-serif";
	position: relative;
}
.main_text{
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	height: 325px;
}
.boxed {

	margin: 0;
	background-color: rgb(26, 26, 26);
	width: 945px;
	height: 215px;
    text-align: center;
	color: darkgray;
}
.boxed_hfix{
	display: inline-block;
	justify-content: center;
	width: 750px;
	height: 200px;
	margin-top: 0px;
	margin-bottom: 150px;
	margin-left: 50px;
}
a:link {
	color: lightgray;
	background-color: transparent;
	text-decoration: none;
}
a:visited{
    color: lightgray;
	background-color: transparent;
	text-decoration: none;
}
a:hover{
    color: #8b0000;
	background-color: transparent;
	text-decoration: none;
}
.tab button {
	font: "cufon";
	border: 0;
	outline: 0;
	color: darkgray;
	cursor: pointer;
	transition: all 0.15s ease-out;
	position: relative;
	background-color: transparent;
	overflow: hidden;
}
.tab button.active {
	color: darkgray;
	position: relative;
}
.tab button:hover {
	color: #ffffff;
}
.tabcontent {
	display: none;
}

.item1 {
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: black;
	border: 1px solid gray;
	padding: 5px;
	font-size: 30px;
	text-align: center;
}
.item2 {
	position: absolute;
	left: 150px;
	top: 0px;
	background-color: black;
	border: 1px solid gray;
	padding: 5px;
	font-size: 30px;
	text-align: center;
}
.item3 {
	position: absolute;
	left: 0px;
	top: 100px;
	background-color: black;
	border: 1px solid gray;
	padding: 5px;
	font-size: 30px;
	text-align: center;
}
.item4 {
	position: absolute;
	left: 150px;
	top: 100px;
	background-color: black;
	border: 1px solid gray;
	padding: 5px;
	font-size: 30px;
	text-align: center;
}
/*Footer settings*/
.footer-basic{
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	position:relative;
	justify-content: center;
}
.footer-basic ul {
	padding: 0;
	list-style: none;
	text-align: center;
	font-size: 18px;
	line-height: 1.6;
	color: white;
    margin:auto;
}
.footer-basic li {
	padding-left: 5px;
	padding-right: 5px;
}
.footer-basic ul a {
	color: inherit;
	text-decoration: none;
	opacity: 0.8;
    margin:auto;
}

.social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
  .social-media-list li a {
    color: #fff;
  }
  
  .social-media-list li {
    position: relative; 
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27,27,27);
    cursor: pointer; 
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:hover {
    background-color: #fff; 
  }
  
  .social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .social-media-list li:hover a {
    color: #000;
  }
  
  .copyright {
    font: 200 14px 'Oswald', sans-serif;
    color: #555;
    letter-spacing: 1px;
    text-align: center;
  }
  
  hr {
    border-color: rgba(255,255,255,.6);
  }
  
.footer-basic .copyright {
	margin-top: 15px;
	text-align: center;
	font-size: 13px;
	color: #aaa;
}
.introF{
	height: 1200px;
	display: flex;
	margin: 0;
	justify-content: center;
}
.intro{
	margin: 0;
	display: flex;
	width: 120%;
    height: 80%;
	background-color: black;
	transform: translatey(-100%);
}
.introtext {
	width: 100%;
	height: 800px;
	padding-top: 125px;
	color: lightgray;
	font-size:100pt;
	font-family: 'Martel', serif;
	text-align: center;
}
.hides{
	margin: 0;
	background-color: black;
	overflow: hidden;
	display: inline-block;
}
.subtext{
	font-family: "Norican";	
	color: lightgray;
	margin: 0;
	font-size: 50pt;
}
.hides span{
	display: inline-block;
	transform: translatey(150%);
}
.slider{
	width: 100%;
	height: 100%;
	margin: auto;
	position: fixed;
	top: 0%;
	left: 0%;
	background-color: rgb(26, 26, 26);
	transform: translateY(100%);
}

.Calander{
	width: auto;
	height: auto;
	margin-top: 50px;
	margin-bottom: 100px;
}
.hasDatepicker{
	background-color: #555;
}

/*Gallery settings*/
.slider-flex-c{
	display: flex;
	justify-content: center;
}
.slider-wrap{
	display: flex;
	margin-top: 10px;
	width: 225px;
	height: 140px;
	padding-left: 10px;
	padding-right: 10px;
}
.image-slider{
	height: inherit;
	overflow: hidden;
}
.img-wrap{
	height: 140px;
	position: relative;
	overflow: hidden;
}
.img-wrap:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.3;
	z-index: 1;
}
.img-wrap img{
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	width: auto;
	height: 100%;
	min-width: 100%;
	max-width: none;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	object-fit: cover;
}
h6{
	font-size: 50px;
	line-height: 1.2;
	display: block;
	color: #fff;
  font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	position: relative;
	z-index: 1;
  opacity: 0;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
	padding: 75px 15px;
  -webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
h6.show{
	letter-spacing: 0.15em;
	opacity: 1;
}
.slick-arrow{
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 30px;
	height: 30px;
	margin: auto;
	background-color: transparent;
	border-radius: 30px;
	border: 2px solid #fff;
	cursor: pointer;
	outline: none;
	z-index: 2;
}
.slick-arrow.slick-prev{
	left: 20px;
}
.slick-arrow.slick-next{
	right: 20px;
}
.slick-arrow:before{
	content: '';
	width: 10px;
	height: 10px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
}
.slick-arrow.slick-prev:before{
	transform: rotate(-45deg) translate(2px, 2px);
}
.slick-arrow.slick-next:before{
	transform: rotate(135deg) translate(2px, 2px);
}